<!doctype html>
<html lang="en">
    <head>
    <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="static\main.css">
        <a class="nav-link" href="/mainpage"><img src="static\images\home.png " width="3%"></a>
        <nav class="navbar">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="{{ url_for('account') }}">Account</a>
                <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
              </div>
        </nav>

        {% if title %}
            <title>Virtual Journal - {{ title }}</title>
        {% else %}
            <title>Virtual Journal</title>
        {% endif %}
    </head>

    <body>
        <div>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                    {{ message }}
                    </div>
                {% endfor %}
                {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>

    </body>
</html>