<!DOCTYPE html>
<html>
<head>
	<title>Weekly View</title>
	<link rel="stylesheet" type="text/css" href="static\weeklyCalendar.css">
    <a class="nav-link" href="/"><img src="static\images\home.png " width="3%"></a>
</head>
<body>

	<h1>
		Weekly View
		<button id="new_event_button" type="button" onclick='toggleForm()'> + Add New Event</button>
	</h1>

	<div id="week">
		<div class="day-col">
			<div class="title">Sunday</div>
			<div class="content"></div>
		</div>
		<div class="day-col">
			<div class="title">Monday</div>
			<div class="content"></div>
		</div>
		<div class="day-col">
			<div class="title">Tuesday</div>
			<div class="content">
			</div>
		</div>
		<div class="day-col">
			<div class="title">Wednesday</div>
			<div class="content"></div>
		</div>
		<div class="day-col">
			<div class="title">Thursday</div>
			<div class="content"></div>
		</div>
		<div class="day-col">
			<div class="title">Friday</div>
			<div class="content"></div>
		</div>
		<div class="day-col">
			<div class="title">Saturday</div>
			<div class="content"></div>
		</div>
	</div>

	<div id="add_event_form" style="display:none">
		<label for="name">Name:</label>
		<input type="text" id="name" name="name"><br/>
		<label for="location">Location:</label>
		<input type="text" id="location" name="location"><br/>
		
		<label for="dayofweek">Day of Week:</label>
		<select name="dayofweek" id="dayofweek">
			<option value="sunday">Sunday</option>
			<option value="monday">Monday</option>
			<option value="tuesday">Tuesday</option>
			<option value="wednesday">Wednesday</option>
			<option value="thursday">Thursday</option>
			<option value="friday">Friday</option>
			<option value="saturday">Saturday</option>
		</select><br/>

		<label for="starttime">Start Time:</label>
		<select name="starttime" id="starttime">	  
		</select><br/>
		
		<label for="endtime">End Time:</label>
		<select name="endtime" id="endtime">	
		</select><br/>

		<button id="submit" type="button" onclick='addNewEvent(), toggleForm()'> Add Event to Calendar</button>

	</div>

	<script type="text/javascript" src="app.js"></script>

</body>
</html>