<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="static\home.css">
  </head>
  <body>
      <div class="homepage"> 
        <h1>
            <a href="{{ url_for('login') }}">  Login</a> <br/><br/>
            <a href="{{ url_for('signup') }}">  Sign Up</a>
        </h1>
      </div>
   <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="static\app.js"></script>
    
  </body>
</html>