<!doctype html>
<html lang="en">
    <head>
    <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="static\info.css">
        <div>
            <a class="nav-link" href="/mainpage"><img src="static\images\home.png " width="3%"></a>
            <a class="nav-link" href="/journal"><img src="static\images\journal_icon.png " width="3%"></a>
            <a class="nav-link" href="/habittracker"><img src="static\images\habittracker_icon.png " width="3%"></a>
            <a class="nav-link" href="/moodtracker"><img src="static\images\moodtracker_icon.png " width="3%"></a>
            <a class="nav-link" href="/"><img src="static\images\logout_icon.png " width="3%"></a>
        </div>
        <title>Virtual Journal - {{ title }}</title>
    </head>

    <body>
        <div class="container">
            <h2>To make sure you are on track to a more organized and fulfilling life, you first need to ensure that your basic health needs are being met! Good sleep, adequate and frequent exercise, and social support can do wonders when it comes to making your goals feel more achievable.</h2><br>
            <h3>How Much sleep should I be getting?</h3>
            <p>
                According to <a href="https://www.cdc.gov/sleep/about_sleep/how_much_sleep.html">the CDC</a>, different age groups require different amounts of sleep:
                <table>
                    <thead>
                        <tr>
                            <th>Age Group</th>
                            <th></th>
                            <th>Recommonded Hours</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>School Age</td>
                            <td>6 - 12 years</td>
                            <td>9 - 12 hours per day</td>
                        </tr>
                        <tr>
                            <td>Teen</td>
                            <td>13 - 18 years</td>
                            <td>8 - 10 hours per day</td>
                        </tr>
                        <tr>
                            <td>Adult</td>
                            <td>18 - 60 years</td>
                            <td>7+ hours a night</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>61 - 64 years</td>
                            <td>7 - 9 hours a night</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>65+ years</td>
                            <td>7 - 8 hours a night</td>
                        </tr>
                    </tbody>
                </table>
            </p>
            <br/>
            <h3>What's the recommended amount of exercise per week?</h3>
            <p>
                The <a href="https://www.mayoclinic.org/healthy-lifestyle/fitness/expert-answers/exercise/faq-20057916">Mayo Clinic</a> recommends adults get a minimu of . . .
                <div id="demo">
                    <button id="ajax_button" type="button" onclick="loadDoc()"> take a guess and click to find out </button>
                </div>
                <script>
                    function loadDoc() {
                    const xhttp = new XMLHttpRequest();
                    xhttp.onload = function() {
                        document.getElementById("demo").innerHTML =
                        this.responseText;
                    }
                    xhttp.open("GET", "static/ajax_info.txt");
                    xhttp.send();
                    }
                </script>
            </p>
            <br/>
            <h3>What are the benefits of journaling?</h3>
            <p>
                <div id="demo2">
                    <button id="ajax_button" type="button" onclick="loadDoc2()"> click to read more </button>
                </div>
                <script>
                    function loadDoc2() {
                    const xhttp = new XMLHttpRequest();
                    xhttp.onload = function() {
                        document.getElementById("demo2").innerHTML =
                        this.responseText;
                    }
                    xhttp.open("GET", "static/ajax_info2.txt");
                    xhttp.send();
                    }
                </script>
            </p>
        </div>
    </body>
</html>
