<!doctype html>
<html lang="en">
    <head>
    <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="static\journal.css">
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="\static\turn_min.js"></script>
        <div>
            <a class="nav-link" href="/mainpage"><img src="static\images\home.png " width="3%"></a>
            <a class="nav-link" href="/habittracker"><img src="static\images\habittracker_icon.png " width="3%"></a>
            <a class="nav-link" href="/moodtracker"><img src="static\images\moodtracker_icon.png " width="3%"></a>
            <a class="nav-link" href="/info"><img src="static\images\information_icon.png " width="3%"></a>
            <a class="nav-link" href="/"><img src="static\images\logout_icon.png " width="3%"></a>
        </div>


        {% if title %}
            <title>Virtual Journal - {{ title }}</title>
        {% else %}
            <title>Virtual Journal</title>
        {% endif %}
    </head>

    <body>
        <div class="container">
            
            <div id="journal">
                {% for journal in alljournals|reverse %}
                    {% if journal in alljournals[0:4] %}
                            
                        <div id="page-1"><li>
                            <h3><a href="{{ '/journal/' + journal.id|string }}">{{ journal.date_posted.strftime("%B %d")  }}</a> </h3>
                            <p>{{ journal.content[0:60] }} . . . </p>
                        </li><br/>
                        <button id="journal_btn" onclick="$('#journal').turn('next')" style="float:right">></button></div>
                    {% elif journal in alljournals[5:9] %}
                        <div id="page-2"><h3><a href="{{ '/journal/' + journal.id|string }}">{{ journal.date_posted.strftime("%B %d")  }}</a> </h3>
                            <p>{{ journal.content[0:60] }} . . . </p>
                        </li><br/>
                        <button id="journal_btn" onclick="$('#journal').turn('previous')" style="float:left"><</button></div>
                    {% elif journal in alljournal[10:14] %}
                        <div id="page-3"><h3><a href="{{ '/journal/' + journal.id|string }}">{{ journal.date_posted.strftime("%B %d")  }}</a> </h3>
                            <p>{{ journal.content[0:60] }} . . . </p>
                        </li><br/>
                        <button id="journal_btn" onclick="$('#journal').turn('next')" style="float:right">></button></div>
                    {% else %}
                        <div id="page-4"><button id="journal_btn" onclick="$('#journal').turn('previous')" style="float:left"><</button></div>
                    {% endif %}
                {% endfor %}
            </div>
                <!-- <div id="page">
                    <ul>
                        <br/>
                        <br/>
                        {% for journal in alljournals|reverse %}
                            <li>
                                <h3><a href="{{ '/journal/' + journal.id|string }}">{{ journal.date_posted.strftime("%B %d")  }}</a> </h3>
                                <p>{{ journal.content[0:60] }} . . . </p>
                            </li><br/>
                        {% endfor %}
                    </ul>
                    <img src>
                </div>
                <img id="center" src="static\images\journal_center.png">
            </div> -->
        </div>


        <script type="text/javascript">



            $(window).ready(function() {
                $('#journal').turn({
                                    display: 'double',
                                    acceleration: true,
                                    gradients: !$.isTouch,
                                    elevation:50,
                                    duration: 1400,
                                    when: {
                                        turned: function(e, page) {
                                            /*console.log('Current view: ', $(this).turn('view'));*/
                                        }
                                    }
                                });
            });
            
            $(window).bind('keydown', function(e){

                if (e.keyCode==37)
                    $('#journal').turn('previous');
                else if (e.keyCode==39)
                    $('#journal').turn('next');   
            });
        </script>
    </body>
</html>