<!doctype html>
<html lang="en">
    <head>
    <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="static\journal.css">
        <div>
            <a class="nav-link" href="/mainpage"><img src="static\images\home.png " width="3%"></a>
            <a class="nav-link" href="/calendar"><img src="static\images\calendar_icon.png " width="3%"></a>
            <a class="nav-link" href="/habittracker"><img src="static\images\habittracker_icon.png " width="3%"></a>
            <a class="nav-link" href="/moodtracker"><img src="static\images\moodtracker_icon.png " width="3%"></a>
            <a class="nav-link" href="/info"><img src="static\images\information_icon.png " width="3%"></a>
            <a class="nav-link" href="/account"><img src="static\images\account_icon.png " width="3%"></a>
            <a class="nav-link" href="/"><img src="static\images\logout_icon.png " width="3%"></a>
        </div>


        {% if title %}
            <title>Virtual Journal - {{ title }}</title>
        {% else %}
            <title>Virtual Journal</title>
        {% endif %}
    </head>

    <body>
        <div class="container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                    {{ message }}
                    </div>
                {% endfor %}
                {% endif %}
            {% endwith %}
            <!-- need to figure out how to get this to show up correctly -->
            <h1>Journal Entries </h1>
            <div id="page1">
                <ul>
                    <br/>
                    <br/>
                    {% for journal in alljournals %}
                        <li>
                            <h3><a href="{{ '/journal/' + journal.id|string }}">{{ journal.date_posted }}</a> </h3>
                            <p>{{ journal.content[0:60] }} . . . </p>
                        </li><br/>
                    {% endfor %}
                </ul>
                <img src>
            </div>
            <img id="center" src="static\images\journal_center.png">
            <div id="page2">
                <ul>
                    <br/>
                    <br/>
                    {% for journal in alljournals %}
                        <li>
                            <h3><a href="{{ '/journal/' + journal.id|string }}">{{ journal.date_posted }}</a></h3>
                            <p>{{ journal.content }}</p>
                        </li><br/>
                    {% endfor %}
                </ul>
                <img src>
            </div>
        </div>
    </body>
</html>