<!doctype html>
<html lang="en">
    <head>
    <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="static\journal.css">
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="\static\turn_min.js"></script>
        <div>
            <a class="nav-link" href="/mainpage"><img src="static\images\home.png " width="3%"></a>
            <a class="nav-link" href="/habittracker"><img src="static\images\habittracker_icon.png " width="3%"></a>
            <a class="nav-link" href="/moodtracker"><img src="static\images\moodtracker_icon.png " width="3%"></a>
            <a class="nav-link" href="/info"><img src="static\images\information_icon.png " width="3%"></a>
            <a class="nav-link" href="/"><img src="static\images\logout_icon.png " width="3%"></a>
        </div>
        <title>Virtual Journal - {{ title }}</title>
    </head>

    <body>
        <div class="container">
            <div id="journal">  <!-- Journal with flip pages -->
                <div id="page-1">  <!-- opening Page of journal -->
                    <div>
                        <p class="title-page" style="float: left;"> {{user}}'s Journal</p>
                        <button id="journal_btn" onclick="$('#journal').turn('next')" style="float:right;">></button>
                    </div>
                </div>
                <div id="page-2"><button id="journal_btn" onclick="$('#journal').turn('previous')" style="float:left"><</button></div>
                {% for journal in alljournals|reverse %}  <!-- each journal populates its own page. reverse order so today is first-->
                        <div id="page-1">
                            <div style="float: left; margin-left: 8%; margin-top: 5%">
                                <h3 style="font-weight: normal;"><a href="{{ '/journal/' + journal.id|string }}" style="text-decoration: none;">{{ journal.date_posted.strftime("%B %d")  }}</a> </h3>
                                <p>{{ journal.content }} </p>
                            </div>
                            <button id="journal_btn" onclick="$('#journal').turn('next')" style="float:right">></button>
                        </div>
                        <div id="page-2">
                            <button id="journal_btn" onclick="$('#journal').turn('previous')" style="float:left"><</button></div>
                {% endfor %}
            </div>
        </div>


        <script type="text/javascript">



            $(window).ready(function() { // flip page function
                $('#journal').turn({
                                    display: 'double',
                                    acceleration: true,
                                    gradients: !$.isTouch,
                                    elevation:50,
                                    duration: 1400,
                                    when: {
                                        turned: function(e, page) {
                                        }
                                    }
                                });
            });
            
            $(window).bind('keydown', function(e){ // can flip with arrow keys!

                if (e.keyCode==37)
                    $('#journal').turn('previous');
                else if (e.keyCode==39)
                    $('#journal').turn('next');   
            });
        </script>
    </body>
</html>