<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="static\main.css">
     
  </head>

  <body onload="dayofWeek();">
        <div class="container">
            
            <div class="item day" id="day"> 
                <div class="day-col">
                    <div class="title" id="dayheader"> </div>
                    <div id="vline"></div>
                    <div class="content"></div>
                </div>
            </div>

            <div class="add_event_form" id="add_event_form" style="display:none; z-index: 2;">
                <label id="eventname" for="name">Event Name</label>
                <input type="text" id="name" name="name"><br/>
                <!-- need to update the date field -->
                <label for="date">Date</label>
                <input type="text" id="date" name="date"><br/>
                
                <label for="dayofweek">Day of Week</label>
                <select name="dayofweek" id="dayofweek">
                    <option value="sunday">Sunday</option>
                    <option value="monday">Monday</option>
                    <option value="tuesday">Tuesday</option>
                    <option value="wednesday">Wednesday</option>
                    <option value="thursday">Thursday</option>
                    <option value="friday">Friday</option>
                    <option value="saturday">Saturday</option>
                </select><br/>
        
                <label for="starttime">Start Time</label>
                <select name="starttime" id="starttime">	  
                </select>
                <label for="endtime">End Time</label>
                <select name="endtime" id="endtime">	
                </select><br/><br/>

                <label for="category">Event Category</label>
                <select name="category" id="category">
                    <option value="meeting">Meeting</option>
                    <option value="study_hw">Study / HW</option>
                    <option value="social_time">Social Time</option>
                    <option value="self_maintainance">self maintainance</option>
                    <option value="classes_work">Classes / Work</option>
                    <option value="exercise">Exercise</option>
                </select><br/>

                <label for="type">Event Type</label>
                <select name="type" id="type">
                    <option value="rigid">Rigid</option>
                    <option value="flexible">Flexible</option>
                </select><br/>

                <label for="location">Location</label>
                <input type="text" id="location" name="location"><br/>
        
                <button id="submit_form" type="button" onclick='addNewEvent(), toggleForm()'> Add Event</button>
            </div>
            <div class="item nav_bar">
                <ul id ="nav_bar" class="nav flex-column">
                    <button id="new_event_button" type="button" onclick='toggleForm()'> + </button>
                    <div class="item nav_container1">
                        <li class="nav-item">
                            <!-- need to figure out how to submit -->
                            <input type="image" src="static\images\minimalday_icon.png" width="370%">
                        </li>
                        <li class="nav-item">
                            <!-- need to figure out how to submit -->
                            <input type="image" src="static\images\box_icon.png" width="370%">
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/calendar"><img src="static\images\calendar_icon.png" width="370%"></a>
                        </li>
                    </div>
                    <div class=" item nav_container2">
                        <li class="nav-item">
                            <a class="nav-link" href="/journal"><img src="static\images\journal_icon.png" width="370%"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/habittracker"><img src="static\images\habittracker_icon.png" width="370%"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/moodtracker"><img src="static\images\moodtracker_icon.png" width="370%"></a>
                        </li>
                    </div>
                    <div class="item nav_container3">
                        <li class="nav-item">
                            <a class="nav-link" href="/info"><img src="static\images\information_icon.png" width="370%"></a>
                        </li>
                        <li id="settings">
                            <a class="nav-item nav-link" href="{{ url_for('account') }}"><img src="static\images\account_icon.png" width="370%"></a> 
                            <!-- possibly have editing in this page, or delete this all together.. -->
                        </li>
                        <li id="settings">
                            <a class="nav-item nav-link" href="{{ url_for('logout') }}"><img src="static\images\logout_icon.png" width="300%"></a>
                        </li>
                    </div>
                </ul>
            </div>
            
            <div class="item journal">
                <form action="/journal/new" method="POST">
                    <label for="journal">Today's date</label><br>
                    <textarea rows="3" cols="50" id="journal" placeholder="Journal Here" name="journal"></textarea><br>
                    <!-- <input type="submit" value="Submit"> -->
                    <input type="image" src="static\images\pen_icon.png" width="8%" style="float: right; padding-right: 5%;" alt="Submit">
                </form>
            </div>
            <div class="item habit">
                <table class="habit">
                    <thead>
                        <tr>
                            <th scope="col" id="habitheader">Habit</th>
                            <th scope="col">Yes!</th>
                            <th scope="col">No :(</th>
                        </tr>
                    </thead><br/>
                    <tbody>
                        <tr>
                            <td scope="row" id="habitname">Floss</td>
                            <td><input class="checkbox-tools" type="radio" name="tools1" id="tool-1" checked>
                                <label class="for-checkbox-tools" for="tool-1" id="tool-1" ></td>
                            <td><input class="checkbox-tools" type="radio" name="tools1" id="tool-2" checked>
                                <label class="for-checkbox-tools" for="tool-2" id="tool-2"></td>
                        </tr>
                        <tr>
                            <td scope="row" id="habitname">Read</td>
                            <td><input class="checkbox-tools" type="radio" name="tools2" id="tool-3" checked>
                                <label class="for-checkbox-tools" for="tool-3" id="tool-3"></td>
                            <td><input class="checkbox-tools" type="radio" name="tools2" id="tool-4" checked>
                                <label class="for-checkbox-tools" for="tool-4" id="tool-4"></td>
                        </tr>
                        <tr>
                            <td scope="row" id="habitname">Journal</td>
                            <td><input class="checkbox-tools" type="radio" name="tools3" id="tool-5" checked>
                                <label class="for-checkbox-tools" for="tool-5" id="tool-5"></td>
                            <td><input class="checkbox-tools" type="radio" name="tools3" id="tool-6" checked>
                                <label class="for-checkbox-tools" for="tool-6" id="tool-6"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <div class="item mood">
                <table>
                    <tbody>
                        <!-- https://stackoverflow.com/questions/30663562/use-images-like-checkboxes/30663705 -->
                        <tr>
                            <td><input type="checkbox" id="cb1" >
                                <label for="cb1"><a>😅</a></label>
                            </td>
                            <td><input type="checkbox" id="cb2" >
                                <label for="cb2"><a>😆</a></label>
                            </td>
                            <td><input type="checkbox" id="cb3" >
                                <label for="cb3"><a>😄</a></label>
                              </td>
                            <td><input type="checkbox" id="cb4" >
                                <label for="cb4"><a>😁</a></label>
                            </td>
                            <td><input type="checkbox" id="cb5" >
                                <label for="cb5"><a>🙂</a></label>
                              </td>
                        </tr><br/>
                        <tr>
                            <td><input type="checkbox" id="cb6" >
                                <label for="cb6"><a>🙃</a></label>
                            </td>
                            <td><input type="checkbox" id="cb7" >
                                <label for="cb7"><a>😠</a></label>
                            </td>
                            <td><input type="checkbox" id="cb8" >
                                <label for="cb8"><a>😉</a></label>
                            </td>
                            <td><input type="checkbox" id="cb9" >
                                <label for="cb9"><a>😣</a></label>
                            </td>
                            <td><input type="checkbox" id="cb10" >
                                <label for="cb10"><a>🥱</a></label>
                            </td>
                        </tr><br/>
                        <tr>
                            <td><input type="checkbox" id="cb11" >
                                <label for="cb11"><a>😫</a></label>
                            </td>
                            <td><input type="checkbox" id="cb12" >
                                <label for="cb12"><a>😖</a></label>
                            </td>
                            <td><input type="checkbox" id="cb13" >
                                <label for="cb13"><a>😰</a></label>
                            </td>
                            <td><input type="checkbox" id="cb14" >
                                <label for="cb14"><a>😮</a></label>
                            </td>
                            <td><input type="checkbox" id="cb15" >
                                <label for="cb15"><a>🥴</a></label>
                            </td>
                        </tr><br/>
                        <tr>
                            <td><input type="checkbox" id="cb16" >
                                <label for="cb16"><a>😌</a></label>
                            </td>
                            <td><input type="checkbox" id="cb17" >
                                <label for="cb17"><a>😔</a></label>
                            </td>
                            <td><input type="checkbox" id="cb18" >
                                <label for="cb18"><a>😒</a></label>
                            </td>
                            <td><input type="checkbox" id="cb19" >
                                <label for="cb19"><a>😬</a></label>
                            </td>
                            <td><input type="checkbox" id="cb20" >
                                <label for="cb20"><a>😐</a></label>
                            </td>
                        </tr><br/>
                        <tr>
                            <td><input type="checkbox" id="cb21" >
                                <label for="cb21"><a>😑</a></label>
                            </td>
                            <td><input type="checkbox" id="cb22" >
                                <label for="cb22"><a>🤔</a></label>
                            </td>
                            <td><input type="checkbox" id="cb23" >
                                <label for="cb23"><a>🤪</a></label>
                            </td>
                            <td><input type="checkbox" id="cb24" >
                                <label for="cb24"><a>😚</a></label>
                            </td>
                            <td><input type="checkbox" id="cb25" >
                                <label for="cb25"><a>🥰</a></label>
                            </td>
                        </tr><br/>
                        <tr>
                            <td><input type="checkbox" id="cb26" >
                                <label for="cb26"><a>😊</a></label>
                            </td>
                            <td><input type="checkbox" id="cb27" >
                                <label for="cb27"><a>😟</a></label>
                            </td>
                            <td><input type="checkbox" id="cb28" >
                                <label for="cb28"><a>😕</a></label>
                            </td>
                            <td><input type="checkbox" id="cb29" >
                                <label for="cb29"><a>😃</a></label>
                            </td>
                            <td><input type="checkbox" id="cb30" >
                                <label for="cb30"><a>☹️</a></label>
                            </td>
                        </tr><br/>
                        <tr>
                            <td><input type="checkbox" id="cb31" >
                                <label for="cb31"><a>😓</a></label>
                            </td>
                            <td><input type="checkbox" id="cb32" >
                                <label for="cb32"><a>🤧</a></label>
                            </td>
                            <td><input type="checkbox" id="cb33" >
                                <label for="cb33"><a>😪</a></label>
                            </td>
                            <td><input type="checkbox" id="cb34" >
                                <label for="cb34"><a>😴</a></label>
                            </td>
                            <td><input type="checkbox" id="cb35" >
                                <label for="cb35"><a>☺️</a></label>
                            </td>
                        </tr><br/>
                    </tbody>
                </table>
            </div>
            <div class="item edge">  
                <img src="static\images\journaledge.png " width="100%" >
            </div>
        </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   
    
  </body>
  <script type="text/javascript" src="static\app.js"> </script>
</html>