<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="static\main.css">
     
  </head>

  <body onload="dayofWeek();">
        <div class="container">
            
            <div class="item day" id="day"> 
                <div class="day-col">
                    <div class="title" id="dayheader"> </div>
                    <div class="content"></div>
                </div>
            </div>

            <div class="add_event_form" id="add_event_form" style="display:none">
                <label for="name">Name of event:</label>
                <input type="text" id="name" name="name"><br/>
                <label for="location">Location:</label>
                <input type="text" id="location" name="location"><br/>
                
                <label for="dayofweek">Day of Week:</label>
                <select name="dayofweek" id="dayofweek">
                    <option value="sunday">Sunday</option>
                    <option value="monday">Monday</option>
                    <option value="tuesday">Tuesday</option>
                    <option value="wednesday">Wednesday</option>
                    <option value="thursday">Thursday</option>
                    <option value="friday">Friday</option>
                    <option value="saturday">Saturday</option>
                </select><br/>
        
                <label for="starttime">Start Time:</label>
                <select name="starttime" id="starttime">	  
                </select><br/>
                
                <label for="endtime">End Time:</label>
                <select name="endtime" id="endtime">	
                </select><br/>
        
                <button id="submit" type="button" onclick='addNewEvent(), toggleForm()'> Add Event to Calendar</button>
            </div>
            <div class="item nav_bar">
                <ul id ="nav_bar" class="nav flex-column">
                    <button id="new_event_button" type="button" onclick='toggleForm()'> + </button>
                    <div id="nav_container1">
                        <li class="nav-item">
                            <input type="image" src="static\images\minimalday_icon.png" width="100%">
                        </li>
                        <li class="nav-item">
                            <input type="image" src="static\images\box_icon.png" width="100%">
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/calendar"><img src="static\images\calendar_icon.png" width="100%"></a>
                        </li>
                    </div>
                    <div id="nav_container2">
                        <li class="nav-item">
                            <a class="nav-link" href="/journal"><img src="static\images\journal_icon.png" width="100%"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/habittracker"><img src="static\images\habittracker_icon.png" width="100%"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/moodtracker"><img src="static\images\moodtracker_icon.png" width="100%"></a>
                        </li>
                    </div>
                    <div id="nav_container3">
                        <li class="nav-item">
                            <a class="nav-link" href="/info"><img src="static\images\information_icon.png" width="100%"></a>
                        </li>
                        <li id="settings">
                            <a class="nav-item nav-link" href="{{ url_for('account') }}">Account</a> 
                            <!-- possibly have editing in this page, or delete this all together.. -->
                        </li>
                        <li id="settings">
                            <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
                        </li>
                    </div>
                </ul>
            </div>
            
            <div class="item journal">
                <form>
                    <label for="journal">Today's date</label><br>
                    <textarea rows="10" cols="60" id="review" placeholder="Journal Here" name="journal"></textarea><br>
                    <input type="submit" value="Submit">
                </form>
            </div>
            <div class="item habit">
                <table class="habit">
                    <thead>
                        <tr>
                            <th scope="col">Habit</th>
                            <th scope="col">Yes</th>
                            <th scope="col">No</th>
                        </tr>
                    </thead><br/>
                    <tbody>
                        <tr>
                            <td scope="row">Floss</td>
                            <td><input type="radio" name="habit"></td>
                            <td><input type="radio" name="habit"></td>
                        </tr>
                        <tr>
                            <td scope="row">Read</td>
                            <td><input type="radio" name="habit2"></td>
                            <td><input type="radio" name="habit2"></td>
                        </tr>
                        <tr>
                            <td scope="row">Journal</td>
                            <td><input type="radio" name="habit3"></td>
                            <td><input type="radio" name="habit3"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <div class="item mood">
                <table>
                    <tbody>
                        <!-- https://stackoverflow.com/questions/30663562/use-images-like-checkboxes/30663705 -->
                        <tr>
                            <td><input type="checkbox" id="cb1" >
                                <label for="cb1"><a>😅</a></label>
                            </td>
                            <td><input type="checkbox" id="cb2" >
                                <label for="cb2"><a>😆</a></label>
                            </td>
                            <td><input type="checkbox" id="cb3" >
                                <label for="cb3"><a>😄</a></label>
                              </td>
                            <td><input type="checkbox" id="cb4" >
                                <label for="cb4"><a>😁</a></label>
                            </td>
                            <td><input type="checkbox" id="cb5" >
                                <label for="cb5"><a>🙂</a></label>
                              </td>
                              <td><input type="checkbox" id="cb6" >
                                <label for="cb6"><a>🙃</a></label>
                            </td>
                            <td><input type="checkbox" id="cb7" >
                                <label for="cb7"><a>😅</a></label>
                              </td>
                              <td><input type="checkbox" id="cb8" >
                                <label for="cb8"><a>😆</a></label>
                              </td>
                              <td><input type="checkbox" id="cb9" >
                                  <label for="cb9"><a>😄</a></label>
                                </td>
                              <td><input type="checkbox" id="cb10" >
                              <label for="cb10"><a>😁</a></label>
                              </td>
                              <td><input type="checkbox" id="cb11" >
                                  <label for="cb11"><a>🙂</a></label>
                                </td>
                                <td><input type="checkbox" id="cb12" >
                                  <label for="cb6"><a>🙃</a></label>
                              </td>
                        </tr> <br/>
                        <tr>

                        </tr>
                        <tr>
         
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   
    
  </body>
  <script type="text/javascript" src="static\app.js"> </script>
</html>