<!doctype html>
<html lang="en">
    <head>
    <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="static\mood.css">
        <div>
            <a class="nav-link" href="/mainpage"><img src="static\images\home.png " width="3%"></a>
            <a class="nav-link" href="/calendar"><img src="static\images\calendar_icon.png " width="3%"></a>
            <a class="nav-link" href="/journal"><img src="static\images\journal_icon.png " width="3%"></a>
            <a class="nav-link" href="/habittracker"><img src="static\images\habittracker_icon.png " width="3%"></a>
            <a class="nav-link" href="/info"><img src="static\images\information_icon.png " width="3%"></a>
            <a class="nav-link" href="/"><img src="static\images\logout_icon.png " width="3%"></a>
        </div>
    </head>

    <body onload="dayofWeek();">
        <div class="container">
            <h1> Mood Tracker </h1>
            <div id="week">
                <!-- replace this eventually -->
                <h2>{{ lastweek.strftime("%B %d") }} - {{ todays_date.strftime("%B %d") }}</h2>
                <form action= "/nextmoodtracker" method="POST" id="nextButton" >
                    <input type="submit" value=">">
                    <input type="hidden" name="daytag" value="{{ todays_date }}">
                </form>
                <form action= "/prevmoodtracker" method="POST" id="backButton" >
                    <input type="submit" value="<">
                    <input type="hidden" name="daytag" value="{{ todays_date }}">
                </form>
            
                <table>
                    <thead>
                        <tr>
                            <th id="day6" scope="col"> </th>
                            <th id="day5" scope="col"> </th>
                            <th id="day4" scope="col"> </th>
                            <th id="day3" scope="col"> </th>
                            <th id="day2" scope="col"> </th>
                            <th id="day1" scope="col"> </th>
                            {% if todays_date == todaysactualdate %}
                                <th  scope="col"><h4 id="day0"> </h4>TODAY</th>
                            {% else %}
                                <th id="day0" scope="col"> </th>
                            {% endif %}
                            
                        </tr>
                    </thead><br/>
                    <tbody>
                        <tr>
                            <td>
                                 <div class="mood-box">
                                    {{ mood7.moodlist }}
                                </div> 
                            </td>
                            <td>
                                <div class="mood-box">
                                   {{ mood6.moodlist }}
                               </div> 
                           </td>
                           <td>
                                <div class="mood-box">
                                    {{ mood5.moodlist }}
                                </div> 
                            </td>
                            <td>
                                <div class="mood-box">
                                    {{ mood4.moodlist }}
                               </div> 
                           </td>
                            <td>
                                <div class="mood-box">
                                    {{ mood3.moodlist }}
                                </div> 
                            </td>
                            <td>
                                <div class="mood-box">
                                    {{ mood2.moodlist }}
                                </div> 
                            </td>
                            <td>
                                <div class="mood-box">
                                    {{ mood1.moodlist }}
                                </div> 
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
    <script type="text/javascript" src="static\app.js"></script>
</html>
