<!doctype html>
<html lang="en">
    <head>
    <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="static\mood.css">
        <div>
            <a class="nav-link" href="/mainpage"><img src="static\images\home.png " width="3%"></a>
            <a class="nav-link" href="/calendar"><img src="static\images\calendar_icon.png " width="3%"></a>
            <a class="nav-link" href="/journal"><img src="static\images\journal_icon.png " width="3%"></a>
            <a class="nav-link" href="/habittracker"><img src="static\images\habittracker_icon.png " width="3%"></a>
            <a class="nav-link" href="/info"><img src="static\images\information_icon.png " width="3%"></a>
            <a class="nav-link" href="/account"><img src="static\images\account_icon.png " width="3%"></a>
            <a class="nav-link" href="/"><img src="static\images\logout_icon.png " width="3%"></a>
        </div>
    </head>

    <body onload="dayofWeek();">
        <div class="container">
            <h1> Mood Tracker </h1>
            <div id="week">
                <!-- replace this eventually -->
                <h2>{{ todays_date.strftime("%B %d") }} - {{ lastweek.strftime("%B %d") }}</h2>
                <button id="nextButton">></button>
                <button id="backButton"><</button>
                <table>
                    <thead>
                        <tr>
                                <th id="day0" scope="col"> </th>
                                <th id="day1" scope="col"> </th>
                                <th id="day2" scope="col"> </th>
                                <th id="day3" scope="col"> </th>
                                <th id="day4" scope="col"> </th>
                                <th id="day5" scope="col"> </th>
                                <th id="day6" scope="col"> </th>
                        </tr>
                    </thead><br/>
                    <tbody>
                        <tr>
                            {% for i in range(7) %}
                            <!-- need to add count thing, left out to avoid merge conflicts -->
                            <td> 
                                <div class="mood-box"></div>
                            </td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
    <script type="text/javascript" src="static\app.js"></script>
</html>
