<!doctype html>
<html lang="en">
    <head>
    <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="..\static\single_journal.css">
        <div>
            <a class="nav-link" href="/mainpage"><img src="\static\images\home.png " width="3%"></a>
            <a class="nav-link" href="/habittracker"><img src="\static\images\habittracker_icon.png " width="3%"></a>
            <a class="nav-link" href="/moodtracker"><img src="\static\images\moodtracker_icon.png " width="3%"></a>
            <a class="nav-link" href="/info"><img src="\static\images\information_icon.png " width="3%"></a>
            <a class="nav-link" href="/"><img src="\static\images\logout_icon.png " width="3%"></a>
        </div>
        <title>Virtual Journal - {{ title }}</title>
    </head>

    <body>
        <div class="container">
            
            {% if journal.date_posted == todays_date %}
                <form action="{{ '/journal/' + journal.id|string + '/update' }}" method="POST" style="width: 100%; height: 70%;">
                    <label for="journal" style="padding-left: 2%; font-size: 25px;">{{ journal.date_posted }}</label><br>
                    <textarea id="journal" name="journal" cols="55" rows="7" style="padding-left: 2%; font-size: 20px;">{{ journal.content }}</textarea><br>
                    <input class="submit" type="image" src="\static\images\pen_icon.png" width="10%" style="margin-left: 60%;" alt="Submit">
                    <input type="hidden" name="flag" value="fromjournal">
                </form>
            {% else %}
                <h4 style="padding-left: 2%; font-size: 25px;">{{ journal.date_posted }}</h4><br>
                <p style="padding-left: 2%; font-size: 20px;">{{ journal.content }}</p><br>
            {% endif %}
        </div>
    </body>
</html>