body {
    /* need to choose a better font */
    font-family: serif;
    background-color: rgb(255, 234, 238);
}

.container{
    display: grid;
    width: fixed;
	height: fixed;
	margin: 2%;
	display: grid;
    padding: 3px;
    grid-gap: 10px;
    grid-template-areas: 
    "title blank edit"
	"habits habits habits"
}

h1 {
    grid-area: title;
    overflow: auto;
    height: 40px;
    text-align: right;
    padding-right: 5%;
}

input[type="submit"]{
    background: none;
    border: none;
}

#habit_button {
    grid-area: edit;
    overflow: auto;
    height: 30px;
	width: 220px;
    background: rgb(255, 199, 225);
    color: rgb(204, 64, 129);
	font-size: x-large;
    padding: 10px;
    margin: 0px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
}

#habit_button:hover {
    color: rgb(255, 199, 225);
    background: rgb(204, 64, 129);
}

#week {
    justify-self: center;
    grid-area: habits;
    overflow: auto;
    min-height: 200px;
	min-width: 60px;
    max-width: 80vw;
}

h2 {
    color: #FC288E;
}

td, th { 
    padding: 10px;
    /* padding-top: 10px;
    padding-bottom: 10px;
    width: 70px; */
}

table {
    letter-spacing: 1px;
    border-collapse: collapse;
}

.habit-box {
    width: 60px;
    padding-top: 12px;
    height: 60px;
    box-sizing: border-box;
    background-color:rgb(255, 192, 227);
    /* margin: 2px; */
    box-shadow: 0px 0px 3px #CBD4C2;
    justify-content: space-between;
    text-align: center;
}

#backButton, #nextButton {
    float: right;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 20%;
    background-color: rgb(159, 203, 245);
    color: white;
    box-shadow: 0px 0px 2px gray;
    margin: 3px;
}

#backButton:hover, #nextButton:hover {
    background-color:#92a1d1;

}

/* need to work on responsiveness */