body {
    font-family: questrial;
    display: grid;
  
	grid-template-columns: repeat(8, 1fr);
}

.homepage {
    grid-column-start: 2;
	grid-column-end: -1;
    height: 600px;
    text-align: center;
    background: url("images/journal_icon_home.png") no-repeat;
    background-size: 80%;
    padding: 160px 0px;
}

a {
    text-decoration: none;
}