body {
	font-family: serif;
}

.container {
    width: fixed;
	height: fixed;
	display: grid;
    padding: 3px;
    grid-gap: 10px;
    
    grid-template-areas: 
	"blank journal"
}

#journal{
    grid-area: journal;
    background: rgb(255, 238, 254);
    width:1152px;
    height:600px;
}
#journal .turn-page{
    background-size:100% 100%;
}

#journal_btn {
    border:none;
    background: rgb(255, 238, 254);
    font-size: large;
    padding-bottom: 50%;
    padding-top: 50%;
    height: 100%;
}

#page-1{
    background: url("images/journal_page_cropped2.png");
} 

#page-2{
    background: url("images/journal_page_cropped1.png");
}

ul {
    list-style: none;
}

.title-page {
    margin: 10%;
    margin-left: 40%;
    margin-top: 45%;
    text-align: center;
    font-size: xx-large;
    color: palevioletred;
    background: rgb(255, 206, 243);
}
