body {
	font-family: questrial;
}

/* https://stackoverflow.com/questions/2460100/remove-the-complete-styling-of-an-html-button-submit */
button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

textarea{
	/* doesn't work for some reason! */
	color: inherit;
	border: none;
	font: inherit;
	background-color: #f085b900;
}

.item {
	display: grid;
	justify-content: center;
	align-items: center;
	font-size: 1.5em;
  } 
 
.container {
	display: grid;
  
	grid-template-columns: repeat(32, 1fr);
	grid-template-rows: repeat(8, 1fr);
  }
  
  /* GRID ITEM PLACEMENT */
.day {
	grid-column-start: 1;
	grid-column-end: 10;
	grid-row-start: 1;
	grid-row-end: -1;
	width: 380px;
  }
.nav_bar{
	grid-column-start: 11;
	grid-column-end: 12;
	grid-row-start: 1;
	grid-row-end: -1;
	/* background-color: yellow; */
	/* align-items: center; */
  }

/* .nav_container1{
	grid-row-start: 1;
	grid-row-end: 3;
	background-color: aqua;
  }

.nav_container2{
	grid-row-start: 4;
	grid-row-end: 7;
	background-color: aquamarine;	  
  }

.nav_container3{
	grid-row-start: 8;
	grid-row-end: -1;
	background-color: blueviolet;
} */

.journal{
	grid-column-start: 13;
	grid-column-end: -1;
	grid-row-start: 1;
	grid-row-end: 4;
	/* background-color: tomato; */
	padding: 0px;
	background: url("images/journal_page_cropped.png") no-repeat;
	background-size: 85%;
	margin-top: 10px;
	margin-left: 20px;
  }
  #journal{
	  margin-top: 10px;
  }

.habit{
	grid-column-start: 22;
	grid-column-end: -1;
	grid-row-start: 4;
	grid-row-end: -1;
  }
  
.mood{
	display: flex;
	grid-column-start: 13;
	grid-column-end: 22;
	grid-row-start: 4;
	grid-row-end: -1;
	padding-top: 0px;
  }
  .edge{
	grid-column-start: 32;
	grid-column-end: -1;
	grid-row-start: 1;
	grid-row-end: -1;
  }

/* this is for mood selection */
:checked+label a{
	transform: scale(0.9);
	/* text-shadow: rgb(0, 140, 255) 1px 0 ; */
	/* -webkit-text-stroke: 40px rgb(0, 247, 255); */
	text-shadow: -4px 0 rgb(0, 247, 255), 0 4px rgb(0, 247, 255), 4px 0 rgb(0, 247, 255), 0 -4px rgb(0, 247, 255);
	z-index: -1;
}

table{
	align-items: stretch;
}

/* CALENDAR */
.day-col .title {
	text-align: center;
}

.day-col{
	width: inherit;
	font-size: 45px;
}

.day-col .content {
	position: relative;
	height: 560px;
	border-right: none;
	background-color:rgb(252, 245, 255)
}

.event-item {
	position: absolute;
	width: calc(100% - 2px);
	padding-left: 2px;
	font-size: 11px;
	overflow-x: auto;
	background: rgba(240, 240, 255, 0.8);
	cursor: pointer;
}

#new_event_button {
	padding-right: 25%;
	padding-left: 25%;
	padding-bottom: 8%;
	padding-top: 8%;
	background-color: palevioletred;
	color: white;
	margin-bottom: 10%;
	font-size: xx-large;
}

#add_event_form {
	position: absolute;
	top: 50px;
	left: calc(50% - 250px);
	right: calc(50% - 250px);
	width: 35%;
	height: auto;
	background: #FFF3F2;
	border: 2px solid #FC288E;
	color: #F085B8;
	padding: 2%;

}

#add_event_form label{
	font-size: x-large;
}

#dayofweek, #starttime, #endtime, #name, #location, #date, #category, #type{
	background-color: #FFF3F2;
	border: 2px solid #F085B8;
	color: #595959;
	margin-bottom: 2%;
	font-size: large;
}

/* can't get the label to show up as bigger for some reason */
#name, #add_event_form:first-child{
	font-size: xx-large;
}

#submit_form{
	background-color: #FC288E;
	color: #FFF3F2;
	padding: 2%;
	float: right;
	font-size: x-large;
}

/* NAV BAR */
ul{
	list-style: none;
}

li {
    align-self: center;
}

#nav_bar{
	align-self: flex-start;
}

#settings{
	font-size: 50%;
}

.mood table{
	width: 50%;
}

input[type="checkbox"][id^="cb"] {
	display: none;

}

label {
	padding: 0px;
	display: block;
	position: relative;
	margin: 0px;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

label[for^="cb"] a{
	height: 2%;
	width: 2%;
	padding: 0px;
	transition-duration: 0.2s;
	transform-origin: 50% 50%;
	font-size: 35px;
}

/* HABIT TRACKER */ 

.habit table {
    border-collapse: collapse;
}

td{
	padding:0%;
}
#habitheader {
	text-align: left;
  }

.habit thead{
	border-bottom: 1.5px solid #A2A2A2;
	color: #C31B6B;
}

#habitname{
	padding-right: 15px;
}


/* https://codepen.io/ig_design/pen/dLNKgM */
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked),
[type="radio"]:checked,
[type="radio"]:not(:checked){
	position: absolute;
	left: -9999px;
	width: 0;
	height: 0;
	visibility: hidden;
}

.checkbox-tools:checked + label,
.checkbox-tools:not(:checked) + label{
	position: relative;
	display: inline-block;
	padding: 20px;
	width: 110px;
	margin: 0 auto;
	margin-bottom: -6px;
	overflow: hidden;
	cursor: pointer;
	color: var(white);
	-webkit-transition: all 350ms linear;
	transition: all 350ms linear; 
}
.checkbox-tools:not(:checked) + label#tool-2 {
	background-color: var(rgb(255, 192, 227));
}
.checkbox-tools:checked + label#tool-2{
	background-color: #F7BED9;
}
.checkbox-tools:not(:checked) + label#tool-1{
	background-color: var(rgb(217, 255, 240));
}
.checkbox-tools:checked + label#tool-1{
	background-color: #C4FFE1;
}
.checkbox-tools:not(:checked) + label#tool-4 {
	background-color: var(rgb(255, 192, 227));
}
.checkbox-tools:checked + label#tool-4{
	background-color: #F7BED9;
}
.checkbox-tools:not(:checked) + label#tool-3{
	background-color: var(rgb(217, 255, 240));
}
.checkbox-tools:checked + label#tool-3{
	background-color: #C4FFE1;
}

.checkbox-tools:not(:checked) + label#tool-6 {
	background-color: var(rgb(255, 192, 227));
}
.checkbox-tools:checked + label#tool-6{
	background-color: #F7BED9;
}
.checkbox-tools:not(:checked) + label#tool-5{
	background-color: var(rgb(217, 255, 240));
}
.checkbox-tools:checked + label#tool-5{
	background-color: #C4FFE1;
}

.checkbox-tools:checked + label .uil,
.checkbox-tools:not(:checked) + label .uil{
	font-size: 24px;
	line-height: 24px;
	display: block;
	padding-bottom: 10px;
}


/* HOMEPAGE */
.homepage{
	display: grid;
	justify-content: center;
	align-items: center;
}