body {
	font-family: questrial;
}

/* https://stackoverflow.com/questions/2460100/remove-the-complete-styling-of-an-html-button-submit */
button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.item {
	display: grid;
	justify-content: center;
	align-items: center;
	font-size: 1.5em;
  } 
 
.container {
	display: grid;
  
	grid-template-columns: repeat(32, 1fr);
	grid-template-rows: repeat(8, 1fr);
  }
  
  /* GRID ITEM PLACEMENT */
.day {
	grid-column-start: 1;
	grid-column-end: 8;
	grid-row-start: 1;
	grid-row-end: -1;
	background-color: burlywood;
	width: 425px;
  }
.nav_bar{
	grid-column-start: 11;
	grid-column-end: 13;
	grid-row-start: 1;
	grid-row-end: -1;
  }

#nav_container1{
	grid-row-start: 1;
	grid-row-end: 4;
	background-color: aqua;
  }

#nav_container2{
	grid-row-start: 4;
	grid-row-end: 7;
	background-color: aquamarine;	  
  }

#nav_container3{
	grid-row-start: 7;
	grid-row-end: -1;
	background-color: blueviolet;
  }

.journal{
	grid-column-start: 16;
	grid-column-end: -1;
	grid-row-start: 1;
	grid-row-end: 4;
  }

.habit{
	grid-column-start: 24;
	grid-column-end: -1;
	grid-row-start: 4;
	grid-row-end: -1;
	font-family: prata;
  }
  
.mood{
	grid-column-start: 16;
	grid-column-end: 24;
	grid-row-start: 4;
	grid-row-end: -1;
  }

/* CALENDAR */
.day-col .title {
	text-align: center;
	background-color: darkblue;
}

.day-col{
	width: inherit;
}
.day-col .content {
	position: relative;
	height: 560px;
	border: 1px solid black;
	border-right: none;
	background-color:rgb(252, 245, 255)
}

.day-col:last-child .content {
	border-right: 1px solid black;
}

.event-item {
	position: absolute;
	width: calc(100% - 2px);
	padding-left: 2px;
	font-size: 11px;
	overflow-x: auto;
	background: rgba(240, 240, 255, 0.8);
	cursor: pointer;
}

#new_event_button {
	padding-right: 5%;
	padding-left: 5%;
	background-color: palevioletred;
	color: white;
}

#add_event_form {
	position: absolute;
	top: 50px;
	left: calc(50% - 250px);
	right: calc(50% - 250px);
	width: 500px;
	height: auto;
	padding: 5px;
	background: white;
	border: 2px solid #888888;
	box-shadow: 1px 1px 3px #555555;
}
/* NAV BAR */
ul{
	list-style: none;
}

li {
    align-self: center;
}

#nav_bar{
	align-self: flex-start;
}

#settings{
	font-size: 50%;
}

input[type="checkbox"][id^="cb"] {
display: none;
}

label {
border: 1px solid #fff;
padding: 10px;
display: block;
position: relative;
margin: 10px;
cursor: pointer;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

label::before {
background-color: white;
color: white;
/* content: " "; */
display: block;
border-radius: 50%;
border: 1px solid grey;
position: absolute;
top: -5px;
left: -5px;
width: 25px;
height: 25px;
text-align: center;
line-height: 28px;
transition-duration: 0.4s;
transform: scale(0);
}

label img {
height: 100px;
width: 100px;
transition-duration: 0.2s;
transform-origin: 50% 50%;
}

:checked+label {
border-color: #ddd;
}

:checked+label::before{
content: "✓";
/* border: 5px aquamarine; */
border-width: 1%;
background-color: grey;
transform: scale(1);
}

:checked+label img {
transform: scale(0.9);
box-shadow: 0 0 5px #333;
z-index: -1;
}


/* HABIT TRACKER */ 

.habit table {
    border-collapse: collapse;
    }
	/* these arent working..? */
.habit tr{
	padding: 30px;
}
.habit thead{
	padding-bottom: 60px;
}
.habit tr:nth-child(even) {
      background-color: rgb(201, 176, 211);
    }


/* HOMEPAGE */
.homepage{
	display: grid;
	justify-content: center;
	align-items: center;
}