/* CSS Reset */
html {
	box-sizing: border-box;
  }
  *, *:before, *:after {
	box-sizing: border-box;  }

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    list-style: none;
}

/* General settings */
body {
	font-family: 'Arial Narrow Bol';
	position: relative;
}

.item {
	display: grid;
	font-size: 1.5em;
} 

/* width */
::-webkit-scrollbar {
width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
background: #ffc4c4;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: rgb(221, 128, 128);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: rgb(190, 65, 65);
} 

/* Main Grid Elements */
/* referenced this wonderful answer: https://stackoverflow.com/questions/46044589/dynamically-resize-columns-in-css-grid-layout-with-mouse */
.container {
	width: fixed;
	height: fixed;
	margin: 2%;
	display: grid;
    padding: 3px;
    grid-gap: 10px;
    
    grid-template-areas: 
    "day nav journal journal coil"
	"day nav mood habit coil"
}

.day {
	grid-area: day;
    overflow: auto;
    
    min-width: 400px;
    max-width: 80vw;
}

.nav_bar {
	grid-area: nav;
    overflow: auto;
    height: 150vh;
	width: 60px;
}

.journal{
	grid-area: journal;
    overflow: auto;
    min-height: 350px;
    max-height: 80vh;
	background: url("images/journal_page_cropped.png") no-repeat;
	background-size: 100%;
}

.moodtracker {
	grid-area: mood;
    overflow: auto;
    min-height: 200px;
    max-height: 80vw;
	min-width: 60px;
    max-width: 80vw;
}

.habit {
	grid-area: habit;
    overflow: auto;
    min-height: 200px;
    max-height: 80vw;
	min-width: 200px;
}

.coil {
	grid-area: coil;
    overflow: auto;
	width: 60px;
}

table{
	align-items: stretch;
}

/* TODO LIST */
.title {
	text-align: center;
	font-family: serif;
	font-size: 50px
}

#todo {
	padding: 10px;
	width: 100%;
	background: rgb(253, 229, 248);
	margin-bottom: 20px;
}

/* https://stackoverflow.com/questions/30975459/add-strikethrough-to-checked-checkbox */
input[type=checkbox]:checked + label.strikethrough{
	text-decoration: line-through;
	color:rgb(150, 150, 150);
	background: none;
  }

#content {
	height: 93%;
	background-color:rgb(252, 245, 255)
}

.done{
	background: none !important;
}

#todo-element {
	background: rgb(253, 225, 239);
	border-bottom: 2px dashed rgb(255, 192, 227);
	border-top: 2px dashed rgb(255, 192, 227);
	width: 98%;
	display: grid;
	margin: -8px;
	padding: 5px;
	margin-left: 3px;
	align-content: center;
    grid-template-areas: 
    "text box delete"
}

#todo-element>label {
	grid-area: text;
	padding-left: 30px;
	padding-top: 5px;
	margin-bottom: 5px;
	width: 220px;
}

#todo-element>input[type="checkbox"] {
	grid-area: box;
	width: 25px;
}

#todo-element>input[type="submit"] {
	grid-area: delete;
	width: 25px;
	height: 25px;
	margin: 5px;
	background: rgb(255, 192, 227);
}

/* NAV BAR */
ul{
	list-style: none;
}

li {
    align-self: center;
}

img {
	width: 50px;
}


/* MOOD TRACKER */
#moods {
	align-content: center;
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
}

#emoji {
	margin: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: 40px;
}

input[type="checkbox"][id^="cb"] {
	display: none;
}

label {
	padding: 0px;
	display: block;
	position: relative;
	margin: 0px;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

label[for^="cb"] a{
	height: 2%;
	width: 2%;
	padding: 0px;
	transition-duration: 0.2s;
	transform-origin: 50% 50%;
	font-size: 35px;
}

/* mood selection */
:checked+label a{
	transform: scale(0.9);
	text-shadow: -4px 0 rgb(0, 247, 255), 0 4px rgb(0, 247, 255), 4px 0 rgb(0, 247, 255), 0 -4px rgb(0, 247, 255);
	z-index: -1;
}


/* HABIT TRACKER */ 
.habit table {
    border-collapse: collapse;
	vertical-align: top;
	font-size: 30px;
}

#table {
	vertical-align: top;
}

td{
	padding:0%;
}
#habitheader {
	text-align: left;
  }

.habit thead{
	border-bottom: 1.5px solid #A2A2A2;
	color: #C31B6B;
}

#habitname{
	padding-right: 15px;
}


/* https://codepen.io/ig_design/pen/dLNKgM */
.checkbox-tools[type="checkbox"]:checked,
.checkbox-tools[type="checkbox"]:not(:checked),
.checkbox-tools[type="radio"]:checked,
.checkbox-tools[type="radio"]:not(:checked){
	position: absolute;
	left: -9999px;
	width: 0;
	height: 0;
	visibility: hidden;
}

.checkbox-tools:checked + label,
.checkbox-tools:not(:checked) + label{
	position: relative;
	display: inline-block;
	padding: 20px;
	width: 110px;
	margin: 0 auto;
	margin-bottom: -6px;
	overflow: hidden;
	cursor: pointer;
	color: var(white);
	-webkit-transition: all 350ms linear;
	transition: all 350ms linear; 
}
.checkbox-tools:not(:checked) + label#tool-2 {
	background-color: var(rgb(255, 192, 227));
}
.checkbox-tools:checked + label#tool-2{
	background-color: #F7BED9;
}
.checkbox-tools:not(:checked) + label#tool-1{
	background-color: var(rgb(217, 255, 240));
}
.checkbox-tools:checked + label#tool-1{
	background-color: #C4FFE1;
}
.checkbox-tools:not(:checked) + label#tool-4 {
	background-color: var(rgb(255, 192, 227));
}
.checkbox-tools:checked + label#tool-4{
	background-color: #F7BED9;
}
.checkbox-tools:not(:checked) + label#tool-3{
	background-color: var(rgb(217, 255, 240));
}
.checkbox-tools:checked + label#tool-3{
	background-color: #C4FFE1;
}

.checkbox-tools:not(:checked) + label#tool-6 {
	background-color: var(rgb(255, 192, 227));
}
.checkbox-tools:checked + label#tool-6{
	background-color: #F7BED9;
}
.checkbox-tools:not(:checked) + label#tool-5{
	background-color: var(rgb(217, 255, 240));
}
.checkbox-tools:checked + label#tool-5{
	background-color: #C4FFE1;
}

.checkbox-tools:checked + label .uil,
.checkbox-tools:not(:checked) + label .uil{
	font-size: 24px;
	line-height: 24px;
	display: block;
	padding-bottom: 10px;
}

/* JOURNAL */
#journal {
	width: 95%; 
	height: 90%;
	margin-top: 2%; 
	margin-right: 3%; 
	float: right; 
	font-size: 20px;
	background: none;
	line-height: 142%;
	resize: vertical;
}


@media only screen and (max-width: 600px) {
	.title {
		text-align: center;
		font-family: serif;
		font-size: 30px
	}
}

