body {
    font-family: serif;
    background-color: rgb(255, 234, 238);
}

.container {
    margin: 40%;
    margin-top: 10%;
    margin-bottom: 10%;
}

fieldset .form-group {
    margin: 15%;
}

div .form-group {
    background: white;
}

legend {
    color: rgb(204, 64, 129);
    font-size: x-large;
    background: rgb(255, 234, 238);
    border-radius: 2px;
}

.btn-outline-info {
    font-family: serif;
    font-size: large;
    margin: 3%;
    margin-left: 34%;
    padding: 2%;
    border: none;
    background: rgb(204, 64, 129);
    color: white;
    border-radius: 2px;
}

.text-muted {
    margin-left: 10%;
    text-align: center;
}

.form-control-lg {
    border: 2px solid rgb(255, 199, 225);
    background: rgb(255, 234, 238);
}